/*CONFIG*/

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    /*overflow-x: hidden;*/
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

/*HEADER CONFIG*/

header nav {
    background-color: #40B36C;
    height: 70px;
}

header nav div#logo, header nav ul {
    margin: 0 52px;
    padding: 10px;
}

#logo p {
    font-family: Amarillo;
    font-size: 1.2rem;
    color: #ffffff;
}

header nav ul li a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
    text-transform: uppercase;
}

/*HEADER FLEXBOX*/

header nav {
    display: flex;
    justify-content: space-between;
}

#logo {
    display: flex;
}

#logo img {
    width: 39px;
    height: 39px;
    align-self: center;
}

header nav ul {
    display: flex;
    align-items: center;
}

header nav ul li {
    margin-left: 52px;
}

/*MAIN GENERAL CONFIG*/

main {
    display: grid;
    grid-template-rows: 636px 443px 680px 443px 680px;
}

/*HERO GENERAL CONFIG*/

section#hero {
    background-color: #F79595;
    background-image: url("../Images/wavesAndBackgrounds/BackgroundHero.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*---HERO TEXT CONFIG*/

section#hero div.text {
    display: inline-block;
    margin-top: 120px;
    margin-left: 220px;
}

.titleGreenWhite {
    color: #40B36C;
    text-shadow: 3px 3px#ffffff;
    font-size: 4rem;
    width: 360px;
}

.titleWhiteAmarillo {
    color: #ffffff;
    font-size: 3rem;
    font-family: Amarillo;
    margin-top: -45px;
    width: 380px;
}

section#hero .text p {
    color: #ffffff;
    margin-top: -22px;
    width: 360px;
}

.buttonGreenTitle {
    color: #ffffff;
    background-color: #40B36C;
    border: none;
    padding: 10px 45px;
    margin: 10px 10px 0px 0px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 25px;
}

.buttonWhiteTitle {
    color: #40B36C;
    background-color: #ffffff;
    border: none;
    padding: 10px 45px;
    margin: 10px 10px 0px 0px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 25px;
}

/*---HERO IMAGE CONFIG*/

section#hero div.image img.mainImage {
    position: absolute;
    right: 0;
    top: 65px;
}

section#hero div.image img.blurBroculi {
    height: 439px;
    width: 435px;
    position: absolute;
    right: -90px;
    top: 65px;
}

section#hero div.image img.normalBroculi {
    height: 209px;
    width: 205px;
    position: absolute;
    right: -20px;
    top: 395px;
}

section#hero div.image img.alface {
    height: 369px;
    width: 600px;
    position: absolute;
    left: -190px;
}

/*ABOUT US GENERAL CONFIG*/

section#aboutUs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/*---ABOUT US IMAGE*/

section#aboutUs div.image img.principal {
    margin-left: 52px;
}

section#aboutUs div.image img.strawberry {
    position: absolute;
    right: -90px;
    top: 895px;
}

/*---ABOUT US TEXT*/

section#aboutUs div.text {
    margin-left: 30px;
    margin-top: 50px;
}

.titleBlackAmarillo {
    color: #101010;
    font-size: 2rem;
    font-family: Amarillo;
    width: 160px;
}

.titleGreenBlack {
    color: #40B36C;
    text-shadow: 3px 3px#101010;
    font-size: 2.5rem;
    width: 160px;
    margin-top: -45px;
}

section#aboutUs .text p {
    margin-top: 10px;
    line-height: 1.6;
    width: 560px;
}

/*TOP MENU CONFIG*/

section#topMenu {
    background-color: #F79595;
    background-image: url("../Images/wavesAndBackgrounds/BackgroundTopMenu.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*---TOP MENU TEXT*/

section#topMenu div.text {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

section#topMenu h1.subtitleGreenWhite {
    padding-left: 30px;
}

.subtitleGreenWhite {
    color: #40B36C;
    text-shadow: 3px 3px#ffffff;
    font-size: 2.5rem;
    width: 80px;
}

section#topMenu h1.subtitleWhiteAmarillo {
    margin-bottom: -15px;
}

.subtitleWhiteAmarillo {
    color: #ffffff;
    font-size: 2rem;
    font-family: Amarillo;
    width: 130px;
    margin-top: -30px;
}

/*---CARDS*/

#gridCards {
    display: grid;
    grid-template-columns: 50px 190px 240px 240px 240px 190px 50px;
    justify-content: center;
    grid-column-gap: 35px;
}

/*------MAIN CARD*/

section#topMenu div.mainCard {
    grid-row: 1;
    grid-column: 4;
    height: 440px;
    width: 240px;
    background-color: #ffffff;
    text-align: center;
    padding: 20px;
    justify-self: center;
}

section#topMenu div.titleAndStars {
    margin-top: 10px;
    margin-bottom: 10px;
}

section#topMenu p {
    margin-bottom: 10px;
}

section#topMenu div.price {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

section#topMenu div.price h3 {
    color: #40B36C;
    text-shadow: 2px 2.5px#101010;
    font-size: 1.5rem;
    padding-top: 6px;
}

section#topMenu div.price h2 {
    color: #40B36C;
    text-shadow: 2px 2.5px#101010;
    font-size: 2.5rem;
}

.buttonGreenCard {
    color: #ffffff;
    background-color: #40B36C;
    border: none;
    padding: 10px 10px;
    margin: 0px 10px 0px 0px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 5px;
}

.buttonWhiteCard {
    color: #40B36C;
    background-color: #ffffff;
    border: 2px solid #40B36C;
    padding: 10px 10px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 5px;
}

/*------RIGHT CARD*/

section#topMenu div.rightCard {
    grid-row: 1;
    grid-column: 5;
    height: 360px;
    width: 240px;
    background-color: #40B36C;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
    justify-self: center;
}

section#topMenu div.rightCard div.titleAndStars {
    margin-top: 10px;
    margin-bottom: 10px;
}

section#topMenu div.rightCard div.titleAndStars h2 {
    color: #ffffff;
}

section#topMenu div.rightCard p {
    margin-bottom: 10px;
    color: #ffffff;
}

/*------VOID RIGHT CARD*/

section#topMenu div.voidRightCard {
    grid-row: 1;
    grid-column: 6;
    height: 295px;
    width: 190px;
    background-color: #38BD7F;
    margin-top: 90px;
    margin-left: -20px;
    justify-self: left;
}

/*------RIGHT ARROW*/

section#topMenu div.rightArrow {
    grid-row: 1;
    grid-column: 7;
    align-self: center;
}

/*------LEFT CARD*/

section#topMenu div.leftCard {
    grid-row: 1;
    grid-column: 3;
    height: 360px;
    width: 240px;
    background-color: #40B36C;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
    justify-self: center;
}

section#topMenu div.leftCard div.titleAndStars {
    margin-top: 10px;
    margin-bottom: 10px;
}

section#topMenu div.leftCard div.titleAndStars h2 {
    color: #ffffff;
}

section#topMenu div.leftCard p {
    margin-bottom: 10px;
    color: #ffffff;
}

/*------VOID LEFT CARD*/

section#topMenu div.voidLeftCard {
    grid-row: 1;
    grid-column: 2;
    height: 295px;
    width: 190px;
    background-color: #38BD7F;
    margin-top: 90px;
    margin-right: -20px;
    justify-self: right;
}

/*------LEFT ARROW*/

section#topMenu div.leftArrow {
    grid-row: 1;
    grid-column: 1;
    align-self: center;
}

/*------SEE MORE BUTTON*/

section#topMenu div#seeMoreButton{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

section#topMenu div button.buttonWhiteTitle  {
    width: 220px;
}

/*NEW APP*/

section#newApp {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

/*---NEWAPP TEXT*/

section#newApp div.text {
    text-align: right;
}

section#newApp div.text h1.titleBlackAmarillo {
    margin-left: auto;
}

section#newApp div.text h1.titleGreenBlack {
    font-size: 4rem;
    width: 271px;
    margin-left: auto;
}

section#newApp div.text p {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 52px;
    line-height: 1.6;
}

section#newApp div.text img.getInStore {
    width: 165px;
    height: 48.95px;
}

/*---NEWAPP IMAGE*/

section#newApp div.image {
    display: flex;
    justify-content: center;
}

section#newApp div.image img {
    position: absolute;
    top: 1820px;
    transform: rotate(-20deg);
}

section#newApp div.image img.mainPhone {
    z-index: 1;
}

section#newApp div.image img.miniPhoneOne {
    right: 120px;
}

section#newApp div.image img.miniPhoneTwo {
    top: 1925px;
    right: 470px;
}

section#newApp img.watermelon {
    position: absolute;
    left: -100px;
    top: 1640px;
}

/*OUR LOCATIONS*/

section#ourLocations {
    background-color: #F79595;
    background-image: url("../Images/wavesAndBackgrounds/BackgroundOurLocations.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*---OUR LOCATIONS TEXT*/

section#ourLocations div.text {
    display: flex;
    justify-content: center;
    border: 2px solid red;
}

section#ourLocations div.text h1.subtitleGreenWhite {
    padding-left: 60px;
}

section#ourLocations div.text h1.subtitleWhiteAmarillo {
    margin-bottom: -15px;
}

/*OUR LOCATIONS GRID*/

section#ourLocations div.gridLocates div.divLocate {
    background-color: #ffffff;
    border-radius: 20px;
    width: 330px;
    height: 220px;
    padding: 15px;
}

section#ourLocations div.gridLocates div.divLocate h2 {
    color: #40B36C;
    margin-bottom: 10px;
}

section#ourLocations div.gridLocates div.divLocate div.phoneNumber,
section#ourLocations div.gridLocates div.divLocate div.workHour,
section#ourLocations div.gridLocates div.divLocate div.address {
    display: flex;
    margin-bottom: 15px;
}

section#ourLocations div.gridLocates div.divLocate div.phoneNumber img,
section#ourLocations div.gridLocates div.divLocate div.workHour img,
section#ourLocations div.gridLocates div.divLocate div.address img {
    width: 24px;
    height: 24px;
    margin-right: 5px;
}

section#ourLocations div.gridLocates div.divLocate button.buttonGreenCard {
    margin-left: 210px;
}